[submodule "vendor/hara-ui"]
	path = vendor/hara-ui
	url = https://github.com/hara-lang/hara-ui.git
[submodule "vendor/hodos"]
	path = vendor/hodos
	url = https://github.com/greenways-ai/hodos.git
[submodule "vendor/hodos-provider"]
	path = vendor/hodos-provider
	url = https://github.com/greenways-ai/hodos.git
